* {
  box-sizing: border-box;
  /* outline: dotted red 1px; */
}

header {
  background-color: #201d57;
  width: 100%;
  height: 140px;
  color: silver;
  padding: 10px 10px;
}

nav {
  padding: 0px;
}

nav li {
  float: left;
  height: 60px;
  margin-right: 20px;
}

a {
  color: silver;
}

body {
  background-color: black;
}

main section {
  width: 100%;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: auto;
  color: silver;
}

#sales-container > ul {
  float: left;
  width: 200px;
  color: silver;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style: none;
}

#salmon-pic {
  margin: auto;
  display: block;
  width: 50%;
  padding: 20px 0px;
}