* {
  box-sizing: border-box;
  /* outline: dotted red 1px; */
}


/*
HEADER STYLING
*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: monospace, sans-serif;
  font: bold;
  color: silver;
  background-color: #1d3757;
}

nav {
  padding: 0px;
}

nav li {
  float: left;
  height: 40px;
  margin-right: 20px;
}

a {
  color: silver;
}


/*
BODY STYLING
*/
body {
  background-color: black;
}

main {
  margin-top: 130px;
  margin-bottom: 100px;
  display: block;
  text-align: center;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace, sans-sarif;
  background-color: black;
}

main table {
  width: 100%;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: auto;
  color: silver;
}


/*
FOOTER STYLING
*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: monospace, sans-serif;
  font: bold;
  color: silver;
  background-color: #1d3757;
}


/*
GLOBAL PAGE STYLING
*/
ul {
  list-style: none;
}


/*
HOME PAGE STYLING
*/
#salmon-pic {
  margin: auto;
  display: block;
  width: 50%;
  padding: 20px 0px;
}


/*
SALES PAGE STYLING
*/
#sales-main {
  outline: solid salmon 1px;
}

#sales-container > tr {
  width: 100%;
  color: silver;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
